*{
    font-family: 'Courier New';
}

h1{
    color:#1b74e4;
}

#searchbtn{
    background-color: black;
    color:white;
}
/* #login,#register{
    background-color:aqua
} by id selector, give them id and select*/

.userbtn{
    background-color: aqua;
}